<!DOCTYPE html>
<html lang="en" dir="ltr">
 
<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/login_styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <title>Login</title>
</head>
 
<body>
 
  <header>
    <a href="index.html"><img class="logo" src="images/Logo-removebg-preview.png" alt="Ap Police"></a>
</header>
<div class="page">
    <nav>
        <div class="emblem">
            <a href="index.html">
                <img src="images/emblem-removebg-preview.png" alt="National-emblem" class="icon">
            </a>
 
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/firpage">File F.I.R</a></li>
            <li><a href="/criminalslist">Criminals List</a></li>
            <li><a href="/gallery">Media</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/decideLogin">Login</a></li>
            </li>
            <div class="drop">
                <a href="#" class="more">More</a>
 
                <div class="dropdown">
                    <a href="/faq">FAQ's</a>
                </div>
            </div>
            <li>
        </ul>
    </nav>
 

