* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-image: url('images/header.jpeg');
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
}

.logo {
    display: block;
    width: 270px;
    margin: auto;
}


/* page */

.page {
    position: relative;
}

.opening {
    background-image: url('images/background.jpg');
    background-position-y: center;
    color: white;
}


/* navbar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: #2857a4;
    background-color: darkblue;
}

.icon {
    height: 55px;
    margin-top: 2px;
    position: relative;
    right: 6em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
}

.burger {
    display: none;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: rgb(238, 241, 253);
    margin: 5px;
    transition: 0.5s ease-in-out;
}


/* for responsiveness */

@media screen and (max-width: 1100px) {
    .nav-links {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkblue;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-bottom: 30%;
        padding-top: 5%;
        z-index: 2;
    }
    /* .nav-links li{
        opacity: 0;
    } */
    .emblem {
        display: block;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    /* .5 seonds for changes to the width and background-color */
    -webkit-transition: width .5s ease, background-color .5s ease;
    /* Chrome and Safari */
    -moz-transition: width .5s ease, background-color .5s ease;
    /* FireFox */
}


/* Change the width and background on hover, aka sliding out */

.nav-links li:hover:after {
    width: 100%;
    background: white;
}

.side-nav{
    position:absolute;
    width: 0;
    height: 80vh;
    background-color: black;
    z-index: 1;
    background-color: #111;
    /* opacity: 0.9; */
    overflow-x: hidden;
    padding-top: 60px;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-burger {
    display: fixed;
    position: absolute;
    cursor: pointer;
    margin: 30px 0 0 30px;
    border: solid 1px antiquewhite;
    border-radius: 5px;
}

.side-burger div {
    height: 3px;
    width: 25px;
    background-color:antiquewhite;
    margin: 5px;
    transition: 0.5s ease-in-out;
}

#btn-close{
    display: block;
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 36px;
}

.intro{
    background-image: url('images/handcuffs.jpg');
    height: 80vh;
    background-size: cover;
}

@media screen and (max-width:880px){
    .intro{
        background-position-x: center;
        width: 100%;
    }
}

.intro h1{
    color: antiquewhite;
    width: min-content;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 72px;
}

.criminals{
    display: flex;
    margin: 0 auto;
    padding:30px;
    flex-wrap: wrap;
    justify-content: center;
}

#wanted,#arrested,#ontrial{
    text-align: center;
    margin-top: 40px;
    font-size: 46px;
}

.criminal{
    display: flex;
    border: solid 1px black;
    height: fit-content;
    margin: 30px;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}

.pic{
    margin: 20px;
    height: 250px;
}

.details{
    padding: 40px;
    justify-content: center;
    line-height: 1.5;
    font-size: 18px;
}

@media screen and (max-width:1080px){
    .criminals{
        flex-direction: column;
        width: 90%;
    }
    .criminal{
        width: 100%;
        margin: 10px auto;
    }
}

@media screen and (max-width:650px){
    .criminal{
        flex-direction: column;
    }
}