* {
    box-sizing: border-box;
}

body {
    background-color: #9e9b9b29;
}

.heading {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border-bottom-style: solid;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: darkblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-sub {
    float: left;
    margin-top: 6px;
}

.col-75 {
    width: 75%;
    margin-top: 6px;
    float: left;
}

.stationdetails {
    float: left;
    width: 200px;
    margin-top: 6px;
    margin-right: 10px;
}

.date {
    float: right;
}

.place {
    float: right;
    width: 200px;
}

.col-85 {
    float: left;
    width: 85%;
    margin-top: 6px;
    margin-bottom: 8px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.backbutton {
    text-decoration: none;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    border-color: black;
    color: black;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}