* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url('images/policeattention.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 600px;
    background-size: cover;
    width: 100%;
}

.logo {
    display: block;
    width: 270px;
    text-align: center;
    margin: auto;
    padding:20px;
    opacity: 1;
}


/* page */

.page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}


/* navbar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color:#195190FF;
    ;
}

.icon {
    height: 50px;
    margin-top: 5px;
    right: 6em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.burger {
    display: none;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: rgb(238, 241, 253);
    margin: 5px;
    transition: 0.5s ease-in-out;
}


/* for responsiveness */

/* @media screen and (max-width: 10px) {
    .nav-links {
        width: 80%;
    }
} */

@media screen and (max-width: 1070px) {
    body {
        overflow-x: hidden;
    }
    nav{
        justify-content: space-around;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 22vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #195190FF;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-bottom: 30%;
        padding-top: 5%;
        z-index: 1;
    }
    /* .nav-links li{
        opacity: 0;
    } */
    .emblem {
        display: block;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    /* .5 seonds for changes to the width and background-color */
    -webkit-transition: width .5s ease, background-color .5s ease;
    /* Chrome and Safari */
    -moz-transition: width .5s ease, background-color .5s ease;
    /* FireFox */
}


/* Change the width and background on hover, aka sliding out */

.nav-links li:hover:after {
    width: 100%;
    background: white;
}

.dropdown{
    padding: 10px;
    position: absolute;
    display: none;
    /* min-width: 16px; */
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:#195190FF;
}

.drop{
    position: relative;
}

.dropdown a{
    padding: 10px;
    display: block;
}

.drop:hover .dropdown{
    display: block;
    text-align: center;
}

.main-heading{
    text-align: center;
    padding-top: 30px;
}
/* Filling the criminals list form */

label{
    margin-right: 20px;
    display: inline-block;
    padding-bottom: 20px;
}

input[type=text]{
    width: 100%;
    padding: 5px;
    resize: vertical;
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.criminal-details{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* padding-left: 40px; */
    margin: 50px auto;
    border: solid 1px black;
    position: relative;
    box-shadow: 2px 5px 5px #000;
}

.criminal-details:hover{
    box-shadow: 5px 5px 5px #000;
}

.detail{
    margin: 30px 20px;
    display: inline-block;
}


.picture{
    
}

#criminal-picture{
    display: none;
    height: 150px;
    width: 150px;
    margin: auto;
}

/* For the hover on the image */
.container {
    position: relative;
    width: 150px;
    display: none;
}

.picture{
    display: flex;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 150px;
    opacity: 0;
    transition: .5s ease;
    background-color:grey;
}
  
.container:hover .overlay {
    opacity: 0.8;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.radio-button{
    margin: 10px;
}

.radio-select{
    display: block;
}

.submit-button{
    position: absolute;
    right: 60px;
    bottom: 30px;
    height: 40px;
    width: 60px;
}

@media screen and (max-width:800px){

    .criminal-details{
        width: 90%;
    }

    .col-25,.col-75{
        width: 100%;
        margin-top: 0;
    }
    .picture{
        flex-direction: column;
    }
    #criminal-pic{
        text-align: center;
    }
    .container{
        margin-top: 10px;
    }
}


/* The list of the criminals added later */


.added-criminals{
    display: flex;
    margin: 0 auto;
    padding:30px;
    flex-wrap: wrap;
    justify-content: center;
}


.criminal{
    display: flex;
    border: solid 1px black;
    margin: 30px;
    align-items: center;
    flex: 1 1 0;
    border-radius: 20px;
}

.pic{
    margin: 20px;
    height: 250px;
    width: 200px;
    border-radius: 20px;
}

.details{
    padding: 40px;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 18px;
}


.red:hover{
    /* background-color: rgb(255, 96, 96); */
    box-shadow: 0px 0px 10px 20px rgba(255, 0, 0, 0.2);
    opacity: 0.8;
    transition: ease-in 0.5s;
}


.yellow:hover{
    /* background-color: rgb(252, 252, 96); */
    box-shadow: 0px 0px 10px 20px rgba(255, 238, 0, 0.356);
    opacity: 0.8;
    transition: ease-in 0.2s;
}

.orange:hover{
    /* background-color: rgb(255, 204, 109); */
    box-shadow: 0px 0px 10px 20px rgba(255, 153, 0, 0.2);
    opacity: 0.8;
    transition: ease-in 0.2s;
}


@media screen and (max-width:1080px){
    .added-criminals{
        flex-direction: column;
        width: 90%;
    }
    .criminal{
        width: 100%;
        margin: 10px auto;
    }
}

@media screen and (max-width:650px){
    .criminal{
        flex-direction: column;
    }
}
