* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: inline;
}

.logo {
    width: 200px;
    position: relative;
    left: 42%;
    top: 5px;
    margin: 20px;
}


.title1 {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    position: absolute;
    left: 300px;
    top: 30px;
}

.title2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    position: absolute;
    left: 290px;
    top: 30px;
    padding: 10px;
}

/* page */
.page{
    position: relative;
}

/* navbar */


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: darkblue;
}

.icon {
    height: 50px;
    margin-top: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
}

.burger {
    display: none;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: rgb(238, 241, 253);
    margin: 5px;
    transition: 0.5s ease-in-out;
}


/* for responsiveness */

@media screen and (max-width: 1100px){
    .nav-links{
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkblue;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-bottom: 30%;
        padding-top: 5%;
        z-index: 1;
    }
    /* .nav-links li{
        opacity: 0;
    } */


    .emblem{
        display: block;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* body */

.main-heading{
    position: absolute;
    top: 5%;
    left: 25%;
    font-size: 50px;
    color:darkblue;
}

/* .announcements-button{
    width: auto;
    background-color: aqua;
    
} */

.announcements-button{
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 25px;
    color:darkblue;
    background-color:rgb(159, 159, 240);
    padding: 7px;
    border-radius: 20px;
}
.announcements-button a{

    text-decoration: none;
}


.twitter-timeline{
    
}

.background{
    background-image: url("images/salutetopolice.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top: 200px;
}

#announcements{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(143, 143, 226);
}

#announce{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    background-color:rgb(143, 143, 226);
}

#announcements-box{
    border: solid 1px;
    height: 600px;
    width: 500px;
    padding: 30px;
    overflow: scroll;
    background-color: aliceblue;
}
#announcements-box h1{
    text-align: center;
    margin-bottom: 30px;
}
#announcements-box ul{
    text-align: center;
    list-style: none;
}

#announcements-box ul li{
    margin: 20px;
}



/* Message */

.message{
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}
.police-pic{
    float: left;
    height: 250px;
    width: 200px;
    margin-bottom: 20px;
    margin-right: 2rem;
}

.rulestofollow{
    
}

.message h1{
    margin: 40px;
    font-size: 40px;
}

footer{
    clear: both;
    background-color: darkblue;
    color: antiquewhite;
    padding: 30px;
    text-align: center;
}

.socicons{
    display: inline;
}

.socicons img{
    height: 40px;
    width: 40px;
    margin: 30px;
}


.initial {
    display: none;
  }
a:hover img[class="hidden"] {
    display: none;
  }
a:hover img[class="initial"] {
    display: inline;
  }
