* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-image: url('images/policeattention.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 600px;
    background-size: cover;
    width: 100%;
}

.logo {
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
    padding:20px;
    opacity: 1;
}


/* page */

.page {
    position: relative;
}


/* navbar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: darkblue;
}

.icon {
    height: 50px;
    margin-top: 5px;
    position: relative;
    right: 6em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.nav-links a:hover{
    border-bottom: 2px solid white;
    transition: all 2s ease-in-out;
}

.burger {
    display: none;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: rgb(238, 241, 253);
    margin: 5px;
    transition: 0.5s ease-in-out;
}


/* for responsiveness */

/* @media screen and (max-width: 10px) {
    .nav-links {
        width: 80%;
    }
} */

@media screen and (max-width: 1070px) {
    body {
        overflow-x: hidden;
    }
    nav{
        justify-content: space-around;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkblue;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-bottom: 30%;
        padding-top: 5%;
        z-index: 1;
    }
    /* .nav-links li{
        opacity: 0;
    } */
    .emblem {
        display: block;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    /* .5 seonds for changes to the width and background-color */
    -webkit-transition: width .5s ease, background-color .5s ease;
    /* Chrome and Safari */
    -moz-transition: width .5s ease, background-color .5s ease;
    /* FireFox */
}


/* Change the width and background on hover, aka sliding out */

.nav-links li:hover:after {
    width: 100%;
    background: white;
}


/* body */
.opening{
    background-image: url('images/background.jpg');
    background-position-y: center;
    color: white;
}


.intro{
    height: max-content;
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items:center;
}

.main-heading {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 40px;
}

.intro-img{
    height: 400px;
    width: 400px;
    margin: 30px auto;
    /* position: relative; */
}

.message{
    padding: 30px;
    margin: 0 auto;
    overflow-y:inherit;
    /* position:relative; */
    overflow-wrap: break-word;
    overflow: auto;
}

.message h3{
    font-size: 25px;
}

.message p{
    font-size: 20px;
    width: 90%;
    line-height: 1.5;
    margin-top: 30px;
}

.contact-info{
    height: 250px;
    width: 250px;
    margin: 40px auto;
    /* position: relative; */
}

@media screen and (max-width: 1212px){
    .message{
        font-size: 5px;
    }

    .message p{
        font-size: 17px;
        /* line-height: normal; */
    }
}
@media screen and (max-width: 1079px){
    .intro{
        flex-direction: column;
    }
}



/* 1296px width */

/*Announcements section*/
#announcements-pre{
    background-color: rgb(181, 181, 209);
    padding-top: 40px;
    /* background-image: url('images/blubg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#announcements-pre h1{
    font-size: 40px;
    text-align: center;
}

#announcements {
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

#announcements-box {
    border: solid 1px;
    height: 600px;
    width: 40%;
    padding: 30px;
    overflow-y: scroll;
    background-color: aliceblue;
    background-image: url('images/background.jpg');
    color: antiquewhite;
    scroll-behavior: auto;
    margin: 10px auto;

}

#announcements-box h1 {
    text-align: center;
    margin-bottom: 30px;
}

#announcements-box ul {
    text-align: center;
    list-style:square;
}

#announcements-box ul li {
    margin: 20px;
    font-size: 25px;
}

.howto{
    background-size: cover;
    color: antiquewhite;
    height: 600px;
    width: 50%;
    background-color: white;
    background-image: url('images/background.jpg');
    /* background-position: center; */
    background-size: cover;
    margin: 10px auto;
    padding: 30px;
    /* text-align: center; */
}

.howto h1{
    padding: 10px;
}

.howto ul{
    padding: 30px;
}

.howto li{
    font-size: 33px;
    line-height: 1.5;
}

.howto a{
    text-decoration: none;
    color: antiquewhite;
    display: inline;
}

@media screen and (max-width: 1079px){
    #announcements{
        flex-direction: column;
    }

    #announcements-box,.howto{
        width: 70%;
        height: max-content;
        overflow: auto;
    }
    .howto{
        width: 70%;
        height: max-content;
    }
    
}

@media screen and (max-width:820px){
    #announcements-box,.howto{
        width: 90%;
    }
    .howto{
        width: 90%;
    }
}

@media screen and (max-width:640px){
    #announcements-box,.howto{
        width: 98%;
    }
    .howto{
        /* font-size: 20px; */
        padding: 7px;
        width: 98%;
    }
}


/* footer */

footer {
    clear: both;
    background-color: darkblue;
    color: antiquewhite;
    padding: 30px;
    text-align: center;
}

.socicons {
    display: inline;
}

.socicons img {
    height: 40px;
    width: 40px;
    margin: 30px;
}

.initial {
    display: none;
}

a:hover img[class="hidden"] {
    display: none;
}

a:hover img[class="initial"] {
    display: inline;
}