<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/contactus-style.css">
    
</head>
<body>
    <header>
        <img class="logo" src="../images/Logo.png" alt="Ap Police">
    </header>
    <div class="page">
		<nav>
            <div class="emblem">
                <a href="index.html">
                    <img src="../images/emblem.png" alt="National-emblem" class="icon">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../firpage.html">File F.I.R</a></li>
                <li><a href="../criminallist.html">Criminals List</a></li>
                <li><a href="../Gallery%20page/Gallery%20page.html">Media</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="../loginpage.html">Login</a></li>
                </li>    
                    <div class="drop">
                        <a href="#" class="more">More</a>

                        <div class="dropdown">
                            <a href="../faq.html">FAQ's</a>
                            <a href="#">FAQ's</a>
                            <a href="#">FAQ's</a>
                        </div>
                    </div>
                <li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <section id="contact-us">
        <aside id="aside">
            <div id="aside-image-container">
    			<img id="comisioner-image" src="../images/comisioner.png">
    			<img src="../images/ap-police-emblem.jfif">
    			<img src="../images/socials.jfif">
    		</div>
    	</aside>


        <h1>Welcome to contact us page</h1>
        <form action="/contactus" method="post"></form>


    </section>

    

    <script src="javascript/firscript.js"></script>
</body>
</html>