<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/contactus-style.css">
    
</head>
<body>
    <header>
        <img class="logo" src="../images/Logo.png" alt="Ap Police">
    </header>
    <div class="page">
		<nav>
            <div class="emblem">
                <a href="index.html">
                    <img src="../images/emblem.png" alt="National-emblem" class="icon">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/firpage">File F.I.R</a></li>
                <li><a href="/criminalslist">Criminals List</a></li>
                <li><a href="/gallery">Media</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
                </li>
                <div class="drop">
                    <a href="#" class="more">More</a>

                    <div class="dropdown">
                        <a href="faq.html">FAQ's</a>
                        <a href="#">Suggestions</a>
                        <a href="#">Feedback</a>
                    </div>
                </div>
                <li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <section id="contact-us">
        <aside id="aside">
    		<div id="aside-image-container">
    			<img id="comisioner-image" src="../images/comisioner.png">
    			<img src="../images/ap-police-emblem.jfif">
    			<img src="../images/socials.jfif">
    		</div>
    	</aside>
        <section id="main-section">
            <table border>
                <tr>
                    <th>Area</th>
                    <th>station</th>
                    <th>address</th>
                    <th>Phone number</th>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>5th Town police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>2 Town police station</td>
                    <td>Police Station, 30-7-6 Bhanu Street Opposite<br> Two Town Police StationRoad, Near By II Town,<br> Daba Gardens, Allipuram, Visakhapatnam, Andhra Pradesh 530020</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>3 Town police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>Gajuwaka police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>5th Town police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>2 Town police station</td>
                    <td>Police Station, 30-7-6 Bhanu Street Opposite<br> Two Town Police StationRoad, Near By II Town,<br> Daba Gardens, Allipuram, Visakhapatnam, Andhra Pradesh 530020</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>3 Town police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>Gajuwaka police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>5th Town police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>2 Town police station</td>
                    <td>Police Station, 30-7-6 Bhanu Street Opposite<br> Two Town Police StationRoad, Near By II Town,<br> Daba Gardens, Allipuram, Visakhapatnam, Andhra Pradesh 530020</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>3 Town police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
                <tr>
                    <td>Visakhapatnam</td>
                    <td>Gajuwaka police station</td>
                    <td>Industrial Estate, Gavara Kanchara Palem,<br> Kancharapalem, Visakhapatnam, Andhra Pradesh 530007</td>
                    <td>089125 20812</td>
                </tr>
            </table>
            <section id="email-section">
                <h2>Send Your Queries Here</h2>
                <form name="queries-form" id="query-form">
                    <table style="border: none;" id="query-table" >
                        <tr>
                           <td colspan="2" style="padding-left: 1rem;"> Feel Free to Contact US</td>
                        </tr>
                        <tr>
                            <td><label for="query-sender-name"> Name:</label></td>
                            <td><input type="text" placeholder="Naveen Kumar" id="query-sender-name"></td>
                        </tr>
                        <tr>
                            <td><label for="query-sender-email"> Email:</label></td>
                            <td><input type="email" required placeholder="abc@gmail.com" id="query-sender-email"></td>
                        </tr>
                        <tr>
                            <td><label for="query"> Query:</label></td>
                            <td><textarea name="query" id="query" cols="30" rows="5" required id="query"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button  name="Send" id="send-button">Submit</button></td>
                        </tr>
                    </table>
                </form>
            </section>
        </section>
    </section>



    <script src="javascript/firscript.js"></script>
</body>
</html>