<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/contactus-style.css">
    
</head>
<body>
    <header>
        <img class="logo" src="../images/Logo.png" alt="Ap Police">
    </header>
    <div class="page">
		<nav>
            <div class="emblem">
                <a href="index.html">
                    <img src="../images/emblem.png" alt="National-emblem" class="icon">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/firpage">File F.I.R</a></li>
                <li><a href="/criminalslist">Criminals List</a></li>
                <li><a href="/gallery">Media</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
                </li>
                <div class="drop">
                    <a href="#" class="more">More</a>

                    <div class="dropdown">
                        <a href="/faq">FAQ's</a>
                        <a href="#">Suggestions</a>
                        <a href="#">Feedback</a>
                    </div>
                </div>
                <li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <section id="contact-us">
        <aside id="aside">
    		<div id="aside-image-container">
    			<img id="comisioner-image" src="../images/comisioner.png">
    			<img src="../images/ap-police-emblem.jfif">
    			<img src="../images/socials.jfif">
    		</div>
    	</aside>
        <section id="main-section">
            <table border>
                <tr>
                    <th>Area</th>
                    <th>station</th>
                    <th>address</th>
                    <th>Phone number</th>
                </tr>
                <% for(station of policedet){%>
                <tr>
                    <td><%= station.area %></td>
                    <td><%= station.station %></td>
                    <td><%= station.address %></td>
                    <td><%= station.phone %></td>
                </tr>    
                <%} %>
            </table>
        </section>
        
    </section>



    <script src="javascript/firscript.js"></script>
</body>
</html>