<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/cssforfirform.css">
    <title>F.I.R form</title>
</head>

<body>

    <h1 class="heading">FILE YOUR F.I.R</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam rerum vitae dolores accusantium eum, quae, magni at soluta voluptate sunt modi dolorum repellat commodi repudiandae harum incidunt. Tempora, assumenda.</p>

    <div class="container">
        <a class="backbutton" href="/firpage"><b>Back</b></a>
        <br><br>
        <form action="/viewfir/priority3" method="POST">
            <div class="col-sub">
                <label for="fullname">From :</label>
            </div><br><br><br>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="fullname" name="fullname" placeholder="Applicant's Name" required>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="fatherorhusbandname" name="fatherorhusbandname" placeholder="Father's/Husband's Name" required>
                </div>
                <div class="col-25">
                    <label for="fatherorhusbandname"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="contactaddress" name="contactaddress" placeholder="Applicant’s contact address" required>
                </div>
                <div class="col-25">
                    <label for="contactaddress"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="contactnumber" name="contactnumber" placeholder="Applicant’s contact number/phone number" required>
                </div>
                <div class="col-25">
                    <label for="contactnumber"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="emailid" name="emailid" placeholder="Applicant’s e-mail id (if any)" required>
                </div>
                <div class="col-25">
                    <label for="emailid"></label>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sub">
                    <label for="date">Date of the Incident :</label>
                </div>
                <div class="date">
                    <input type="date" id="date" name="date" placeholder="Current Date" required>
                </div>
            </div>
            <span>Time:</span>
            <div class="row time">
                <div class="time">
                    <input type="time" id="time" name="time" placeholder="" required>
                </div>
                <div class="col-25">
                    <label for="time"></label>
                </div>
            </div>
            <p>To Officer in charge,</p>
            <div class="row">
                <div class="col-sub">
                    <label for="stationname">Police Station :</label>
                </div>
                <div class="stationdetails">
                    <select id="stationname" name="stationname">
                      <option value="">Select Police Station</option>
                      <option value="Tada">Tada Police Station</option>
                      <option value="Varadaiahpalem">Varadaiahpalem Police Station</option>
                      <option value="Satyavedu">Satyavedu Police Station</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sub">
                    <label for="district">District :</label>
                </div>
                <div class="stationdetails">
                    <select id="district" name="district">
                      <option value="">Select District</option>
                      <option value="Chittoor">Chittoor</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sub">
                    <label for="stationname">State :</label>
                </div>
                <div class="stationdetails">
                    <select id="state" name="state">
                      <option value="">Select State</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                    </select>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sub">
                    <label for="subject">Subject</label>
                </div>
                <div class="col-75">
                    <input type="text" id="subject" name="subject" placeholder="Ex: Loss of the Mobile phone" required>
                </div>
            </div>
            <p><br><br>Respected sir/madam ,</p>
            <div class="row">
                <div class="col-25">
                    <label for="complaint"></label>
                </div>
                <div class="col-85">
                    <textarea id="complaint" name="complaint" placeholder="I am __________, s/o <father’s name>, currently residing at <address>. On (Date), I lost my phone at the (Place) at <city>.
The mobile is a (model) with (specifications). The IMEI number of the phone is <IMEI number> and the serial number of the device is <serial number>. The mobile number of the SIM used in the lost phone is <phone number>. Approximate value of the new device of this model is Rs(   ).
You are requested to kindly register the complaint and give me an attested copy of this complaint so that I can submit this to the service provider to block the phone number and prevent potential abuse of my SIM.

                    
                    I shall be obliged if you kindly take action to trace and recover the lost device.
                    
       
Yours faithfully
(Name)
(signature)
(City)
(contact number)
            " style="height:300px" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="image">Evidence if any:</label>
                </div>
                <div class="col-85">
                    <input type="file" id="image" name="image">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>