<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/cssforfirform.css">
    <title>F.I.R form</title>
</head>

<body>

    <h1 class="heading">FILE YOUR F.I.R</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam rerum vitae dolores accusantium eum, quae, magni at soluta voluptate sunt modi dolorum repellat commodi repudiandae harum incidunt. Tempora, assumenda.</p>

    <div class="container">
        <a class="backbutton" href="/firpage"><b>Back</b></a>
        <br><br>
        <form action="/viewfir/priority1" method="POST">
            <div class="col-sub">
                <label for="fullname">From :</label>
            </div><br><br><br>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="fullname" name="fullname" placeholder="Applicant's Name" required>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="fatherorhusbandname" name="fatherorhusbandname" placeholder="Father's/Husband's Name" required>
                </div>
                <div class="col-25">
                    <label for="fatherorhusbandname"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="contactaddress" name="contactaddress" placeholder="Applicant’s contact address" required>
                </div>
                <div class="col-25">
                    <label for="contactaddress"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="contactnumber" name="contactnumber" placeholder="Applicant’s contact number/phone number" required>
                </div>
                <div class="col-25">
                    <label for="contactnumber"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="emailid" name="emailid" placeholder="Applicant’s e-mail id (if any)" required>
                </div>
                <div class="col-25">
                    <label for="emailid"></label>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sub">
                    <label for="date">Date :</label>
                </div>
                <div class="date">
                    <input type="date" id="date" name="date" placeholder="Current Date" required>
                </div>
            </div>
            <br>
            <span>Time between :</span><br><br>
            <div class="row time">
                <div class="time">
                    <input type="time" id="initialtime" name="initialtime" placeholder="" required>
                </div>
                <div class="col-25">
                    <label for="time"></label>
                </div>
            </div>
            <span>and</span>
            <div class="row time">
                <div class="time">
                    <input type="time" id="endtime" name="endtime" placeholder="" required>
                </div>
                <div class="col-25">
                    <label for="time"></label>
                </div>
            </div>
            <p>To Officer in charge,</p>
            <div class="row">
                <div class="col-sub">
                    <label for="stationname">Police Station :</label>
                </div>
                <div class="stationdetails">
                    <select id="stationname" name="stationname">
                      <option value="">Select Police Station</option>
                      <option value="Tada">Tada Police Station</option>
                      <option value="Varadaiahpalem">Varadaiahpalem Police Station</option>
                      <option value="Satyavedu">Satyavedu Police Station</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sub">
                    <label for="district">District :</label>
                </div>
                <div class="stationdetails">
                    <select id="district" name="district">
                      <option value="">Select District</option>
                      <option value="Chittoor">Chittoor</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sub">
                    <label for="stationname">State :</label>
                </div>
                <div class="stationdetails">
                    <select id="state" name="state">
                      <option value="">Select State</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                    </select>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sub">
                    <label for="subject">Subject</label>
                </div>
                <div class="col-75">
                    <input type="text" id="subject" name="subject" placeholder="Ex: FIR Complaint Against a Murder that was Witnessed." required>
                </div>
            </div>
            <p><br><br>Respected sir/madam ,</p>
            <div class="row">
                <div class="col-25">
                    <label for="complaint"></label>
                </div>
                <div class="col-85">
                    <textarea id="complaint" name="complaint" placeholder="I am a resident of 675 Rosewood Ave and I am pursuing my under graduation in Regal Institute of Technology, Kakinada.I travel to the college by road on my Scooty everyday, There is a batch on road 32, Sarpavaram which is included in crimes like bullying, eve-teasing, etc.,
On 10th June 2019, while I was returning from my college I witness the batch involved in stabbing a person. I have so terrified and ran away. I have seen the picture of the victim the next day in the new paper.     
I would like you to know that I am an eye witness of the murder and can recognize the killers.
                    
                    Request you to take the immediate necessary actions to improve safety in the town.
       
Yours faithfully
(Name)
(signature)
(City)
(contact number)
            " style="height:300px" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="evidence">Evidence if any:</label>
                </div>
                <div class="col-85">
                    <input type="file" id="evidence" name="evidence">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>