<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/cssforfirform.css">
    <title>F.I.R form</title>
</head>

<body>

    <h1 class="heading">FILE YOUR F.I.R</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam rerum vitae dolores accusantium eum, quae, magni at soluta voluptate sunt modi dolorum repellat commodi repudiandae harum incidunt. Tempora, assumenda.</p>

    <div class="container">
        <a class="backbutton" href="firpage.html"><b>Back</b></a>
        <br><br>
        <form action="/viewfir" method="POST">
            <div class="col-sub">
                <label for="fullname">From :</label>
            </div><br><br><br>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="fullname" name="fullname" placeholder="Applicant's Name" required>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="fatherorhusbandname" name="fatherorhusbandname" placeholder="Father's/Husband's Name" required>
                </div>
                <div class="col-25">
                    <label for="fatherorhusbandname"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="contactaddress" name="contactaddress" placeholder="Applicant’s contact address" required>
                </div>
                <div class="col-25">
                    <label for="contactaddress"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="contactnumber" name="contactnumber" placeholder="Applicant’s contact number/phone number" required>
                </div>
                <div class="col-25">
                    <label for="contactnumber"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="emailid" name="emailid" placeholder="Applicant’s e-mail id (if any)" required>
                </div>
                <div class="col-25">
                    <label for="emailid"></label>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sub">
                    <label for="date">Date :</label>
                </div>
                <div class="date">
                    <input type="date" id="date" name="date" placeholder="Current Date" required>
                </div>
            </div>
            <p>To Officer in charge,</p>
            <div class="row">
                <div class="col-sub">
                    <label for="stationname">Police Station :</label>
                </div>
                <div class="stationdetails">
                    <select id="stationname" name="stationname">
                      <option value="">Select Police Station</option>
                      <option value="Tada">Tada Police Station</option>
                      <option value="Varadaiahpalem">Varadaiahpalem Police Station</option>
                      <option value="Satyavedu">Satyavedu Police Station</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sub">
                    <label for="district">District :</label>
                </div>
                <div class="stationdetails">
                    <select id="district" name="district">
                      <option value="">Select District</option>
                      <option value="Chittoor">Chittoor</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sub">
                    <label for="stationname">State :</label>
                </div>
                <div class="stationdetails">
                    <select id="state" name="state">
                      <option value="">Select State</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                    </select>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sub">
                    <label for="subject">Subject</label>
                </div>
                <div class="col-75">
                    <input type="text" id="subject" name="subject" placeholder="Ex: FIR complaint against robbery." required>
                </div>
            </div>
            <p><br><br>Respected sir/madam ,</p>
            <div class="row">
                <div class="col-25">
                    <label for="complaint"></label>
                </div>
                <div class="col-85">
                    <textarea id="complaint" name="complaint" placeholder="It is to state that, I was going to my friend’s/parents/grandparent’s home in (Area/City name) (date) on my car (Transport name), when two men (or more) who were standing across the road near (Area name) tried to stop me by waving their hands. I thought might be possible, they need some help, I applied the brakes and asked them what if they need some help.(Show your actual problem and situation).
Suddenly one of them pulled out a pocket knife (or gun) and ordered me to come out of the car (Transport name). I had no other choice except to do as they command. I came out of my car (Transport name), one man started searching my pockets and the other stood still pointing the knife towards me. They took my cash, my cards, my cellular phone, and my laptop too.                    
After taking all the valuable things, they ran towards their car, started its engine and vanished from there within a few moments. My belongings which they snatched away are enlisted as follows.
Cash (Amount of money)
Cell phone (Mobile model)
Credit card number…
Others…
                    
I request you to file my complaint against those robbers and arrest them as soon as possible. I shall look forward to some positive report by your side.
                    
                                Thank you so much.
                    
       
Yours faithfully
(Name)
(signature)
(City)
(contact number)
            " style="height:300px" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="evidence">Evidence if any:</label>
                </div>
                <div class="col-85">
                    <input type="file" id="evidence" name="evidence">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>