<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/cssforfirform.css">
    <title>F.I.R form</title>
</head>

<body>

    <h1 class="heading">FILE YOUR F.I.R</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam rerum vitae dolores accusantium eum, quae, magni at soluta voluptate sunt modi dolorum repellat commodi repudiandae harum incidunt. Tempora, assumenda.</p>

    <div class="container">
        <a class="backbutton" href="/firpage"><b>Back</b></a>
        <br><br>
        <form action="/viewfir" method="POST">
            <div class="col-sub">
                <label for="fullname">From :</label>
            </div><br><br><br>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="fullname" name="fullname" placeholder="Applicant's Name" required>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="fatherorhusbandname" name="fatherorhusbandname" placeholder="Father's/Husband's Name" required>
                </div>
                <div class="col-25">
                    <label for="fatherorhusbandname"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="contactaddress" name="contactaddress" placeholder="Applicant’s contact address" required>
                </div>
                <div class="col-25">
                    <label for="contactaddress"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="contactnumber" name="contactnumber" placeholder="Applicant’s contact number/phone number" required>
                </div>
                <div class="col-25">
                    <label for="contactnumber"></label>
                </div>
            </div>
            <div class="row">
                <div class="fromdetails">
                    <input type="text" id="emailid" name="emailid" placeholder="Applicant’s e-mail id (if any)" required>
                </div>
                <div class="col-25">
                    <label for="emailid"></label>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sub">
                    <label for="date">Date :</label>
                </div>
                <div class="date">
                    <input type="date" id="date" name="date" placeholder="Current Date" required>
                </div>
            </div>
            <p>To Officer in charge,</p>
            <div class="row">
                <div class="col-sub">
                    <label for="stationname">Police Station :</label>
                </div>
                <div class="stationdetails">
                    <select id="stationname" name="stationname">
                      <option value="">Select Police Station</option>
                      <option value="Tada">Tada Police Station</option>
                      <option value="Varadaiahpalem">Varadaiahpalem Police Station</option>
                      <option value="Satyavedu">Satyavedu Police Station</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sub">
                    <label for="district">District :</label>
                </div>
                <div class="stationdetails">
                    <select id="district" name="district">
                      <option value="">Select District</option>
                      <option value="Chittoor">Chittoor</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sub">
                    <label for="stationname">State :</label>
                </div>
                <div class="stationdetails">
                    <select id="state" name="state">
                      <option value="">Select State</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                    </select>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sub">
                    <label for="subject">Subject</label>
                </div>
                <div class="col-75">
                    <input type="text" id="subject" name="subject" placeholder="Ex: FIR complaint against Harrasment." required>
                </div>
            </div>
            <p><br><br>Respected sir/madam ,</p>
            <div class="row">
                <div class="col-25">
                    <label for="complaint"></label>
                </div>
                <div class="col-85">
                    <textarea id="complaint" name="complaint" placeholder="I write this letter to inform you about the inappropriate groping and sexual advances I've suffered at the hands of the Name of the Harasser. I hold the position of POSITION in the company and have been employed for five years, and my work ethic has never been called into question. 
The harassment began on <Date> when I was first transferred to this department and he said he was attracted to me. It has continued almost every day since.                    
On <Date> he sent me an email that said I should meet up with him after work.                     
On <Date> he sent a voicemail that said he would love to make sweet love to me in the bathroom stall.                     
I reported to my immediate supervisor about the situation after the second incident but the Name of Harasser has not stopped. While most of the advances have been verbal, I have the recordings of two voicemails and one email from the Name of the Harasser. I also have two witnesses, Name of Witness one and Name of Witness two, who have witnessed the harassment.                     
I want to bring to your notice that I am undergoing emotional trauma and embarrassment at work. The harassment is affecting my relationship with my Husband and is affecting my performance at work.
                    
                    I implore that you please take up the matter and take any necessary action. 
Yours faithfully
(Name)
(signature)
(City)
(contact number)
            " style="height:300px" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="evidence">Evidence if any:</label>
                </div>
                <div class="col-85">
                    <input type="file" id="evidence" name="evidence">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>