<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
    <link rel="stylesheet" href="css/cssforviewfir.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>VIEW F.I.R</title>
</head>

<body>
    <header>
        <a href="Police Side/home-page.html"><img class="logo" src="images/Logo-removebg-preview.png" alt="Ap Police"></a>
    </header>
    <div class="page">
        <nav>
            <div class="emblem">
                <a href="Police Side/home-page.html">
                    <img src="images/emblem-removebg-preview.png" alt="National-emblem" class="icon">
                </a>

            </div>
            <ul class="nav-links">
                <li><a href="Police Side/home-page.html">Home</a></li>
                <li><a href="viewfir.html">View F.I.R</a></li>
                <li><a href="postannouncements.html">Announcements</a></li>
                <li><a href="postcriminalslist.html">Criminals List</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </nav>

        <div class="side-burger" id="side-bur">
            <div class="class1"></div>
            <div class="class2"></div>
            <div class="class3"></div>
        </div>

        <div id="side-menu" class="side-nav">
            <a href="#" id="btn-close">&times;</a>
            <a href="#div1" id="cat0">Inbox</a>
            <a href="#div2" id="cat1">Priority1</a>
            <a href="#div3" id="cat2">Priority2</a>
            <a href="#div4" id="cat3">Priority3</a>
        </div>
        <script src="jsforcriminalslist.js"></script>
        <h1 class="heading">VIEW F.I.R FORMS</h1>
        <script src="viewfirscript.js"></script>
        <br>
        <div class="show">
            <div class="content">
                <div class="default" id="div1">

                    <p id="myBtn" class="eachform"><strong>User01</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User02</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User03</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User04</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User05</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User06</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User07</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User08</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User09</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User10</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User11</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User12</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User13</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User14</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p id="" class="eachform"><strong>User15</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </ul>
                </div>
                <div class="priority1" id="div2">
                    <h2> Priority 1 Forms(Need urgent action highly life threat)</h2>
                    <p id="" class="eachform"><span><strong>User01</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User02</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User03</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User04</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User05</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User06</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User07</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User08</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                </div>
                <div class="priority2" id="div3">
                    <h2>Priority 2 Forms(Includes Life threat.)</h2>
                    <p id="" class="eachform"><span><strong>User01</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User02</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User03</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User04</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User05</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User06</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User07</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User08</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User09</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User10</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                </div>
                <div class="priority3" id="div4">
                    <h2>Priority 3 Forms(No life threat cases)</h2>
                    <p id="" class="eachform"><span><strong>User01</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User02</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User03</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User04</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User05</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User06</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User07</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User08</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User09</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User10</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User11</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User12</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User13</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User14</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                    <p id="" class="eachform"><span><strong>User15</strong><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></p>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content" id="fir">
                <span class="close">&times;</span>
                <div class="formandevidence">
                    <strong> F.I.R Form</strong>
                    <strong id="evidence"> Evidence</strong>
                </div>
                <object width="100%" height="100%" data="form1.pdf">
                <p>Oops! Your browser doesn't support PDFs!</p>
                <p><a href="form1.pdf">Download Instead</a></p>
                </object>
            </div>
            <div class="modal-content" id="evid">
                <span class="close">&times;</span>
                <div class="formandevidence">
                    <strong id="firform"> F.I.R Form</strong>
                    <strong> Evidence</strong>
                </div>
                <object width="100%" height="100%" data="./accident_evidence.mp4">
                <p>Oops! Your browser doesn't support this!</p>
                <p><a href="./accident_evidence.mp4">Download Instead</a></p>
                </object>
            </div>
        </div>
        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
            var x = document.getElementById('firform');
            x.onclick = function() {
                fir.style.display = 'block';
                evid.style.display = 'none';
            }
            var y = document.getElementById('evidence');
            y.onclick = function() {
                fir.style.display = 'none';
                evid.style.display = 'block';
            }
        </script><br>
        <footer>
            <br>
            <div class="indicators">
                <p><strong><span class="red">Priority1:</span> &nbsp; &nbsp; Includes Sexual Violence , Murder and Kidnap</strong></p>
                <p><strong><span class="yellowgreen">Priority2:</span> &nbsp; &nbsp; Includes Accident , Threatening and Robbery</strong></p>
                <p><strong><span class="lime">Priority3:</span> &nbsp; &nbsp; Includes Land Possession and Other crimes.</strong></p><br>
            </div>
            <h3>Follow us on Social Media!</h3>
            <div class="socicons">
                <a href="https://www.facebook.com/ANDHRAPRADESHSTATEPOLICE/" target="_blank">
                    <img src="common images/facebook black.svg" alt="" class="initial">
                    <img src="common images/facebook.svg" alt="" class="hidden">
                </a>
                <a href="https://twitter.com/APPOLICE100/" target="_blank">
                    <img src="common images/twitter-sign.svg" alt="" class="initial">
                    <img src="common images/twitter.svg" alt="" class="hidden">
                </a>
                <a href="https://www.instagram.com/appolice.100/?igshid=ocwaariy0bvd&hl=en" target="_blank">
                    <img src="common images/instagram black.svg" alt="" class="initial">
                    <img src="common images/instagram.svg" alt="" class="hidden">
                </a>
                <a href="https://www.youtube.com/channel/UC7Iu-yyZ0Yyi3-JJ4RfzOYw/featured" target="_blank">
                    <img src="common images/youtube black.svg" alt="" class="initial">
                    <img src="common images/youtube.svg" alt="" class="hidden">
                </a>
            </div>
        </footer>
</body>

</html>