@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url('images/policeattention.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 600px;
    background-size: cover;
    width: 100%;
}

.logo {
    display: block;
    width: 270px;
    text-align: center;
    margin: auto;
    padding:20px;
    opacity: 1;
}


/* page */

.page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}


/* navbar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color:#195190FF;
    ;
}

.icon {
    height: 50px;
    margin-top: 5px;
    right: 6em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.burger {
    display: none;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: rgb(238, 241, 253);
    margin: 5px;
    transition: 0.5s ease-in-out;
}


/* for responsiveness */

/* @media screen and (max-width: 10px) {
    .nav-links {
        width: 80%;
    }
} */

@media screen and (max-width: 1070px) {
    body {
        overflow-x: hidden;
    }
    nav{
        justify-content: space-around;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #195190FF;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-bottom: 30%;
        padding-top: 5%;
        z-index: 1;
    }
    /* .nav-links li{
        opacity: 0;
    } */
    .emblem {
        display: block;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 241, 253);
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    /* .5 seonds for changes to the width and background-color */
    -webkit-transition: width .5s ease, background-color .5s ease;
    /* Chrome and Safari */
    -moz-transition: width .5s ease, background-color .5s ease;
    /* FireFox */
}


/* Change the width and background on hover, aka sliding out */

.nav-links li:hover:after {
    width: 100%;
    background: white;
}

.dropdown{
    padding: 10px;
    position: absolute;
    display: none;
    /* min-width: 16px; */
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:#195190FF;
}

.drop{
    position: relative;
}

.dropdown a{
    padding: 10px;
    display: block;
}

.drop:hover .dropdown{
    display: block;
    text-align: center;
}


body{
    background: #f6f6f6;
}

.box{
    width: 800px;
    margin: 100px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box .heading{
    background:blue;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: "Rubik";
}

.faqs{
    padding: 0px 20px 20px;
}

::-webkit-details-marker{
    float: right;
    margin-top: 3px;
}

details{
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: "Rubik";
    font-size: 14px;
    letter-spacing: 1px;
}

details summary{
    outline: none;
    
}

footer {
    clear: both;
    background-color: #00203FFF;
    color: antiquewhite;
    padding: 50px 30px 30px;
    text-align: center;
}

.socicons {
    display: inline;
}

.socicons img {
    height: 35px;
    width: 35px;
    margin: 15px;
}

.initial {
    display: none;
}

a:hover img[class="hidden"] {
    display: none;
}

a:hover img[class="initial"] {
    display: inline;
}